NODE_ENV=development
PORT=3000
TZ=Europe/Moscow
DATABASE_PATH=./data/2popuga.sqlite
AMNEZIAWG_CONFIG_PATH=./secrets/amneziawg.conf

BOT_TOKEN=
ALLOWED_CHAT_ID=

WEBHOOK_BASE_URL=https://2popuga.kolyach.me
WEBHOOK_PATH=/telegram/webhook
WEBHOOK_SECRET=
